# Make this .gitignore a whitelist
*
*/*
!.gitignore

# "Run Command" files
!.zshrc
!.nanorc

# Config
!.config/
## WezTerm
!.config/wezterm/
!.config/wezterm/*
## Ulauncher
!.config/ulauncher/
!.config/ulauncher/*
## LunarVim
!.config/lvim
!.config/lvim/config.lua
## logiops/logid
!.config/logid
!.config/logid/*

# ssh config (no keys)
!.ssh/
!.ssh/config

# Kubernetes client config
!.kube/
!.kube/*
