# Make this .gitignore a whitelist
*
*/*
!.gitignore
!.gitmodules
!.gitconfig

# "Run Command" files
!.zshrc
!.nanorc

# Config
!.config/
## fish
!.config/fish/
!.config/fish/*
!.config/fish/**/*
## oh-my-fish
!.config/omf/
!.config/omf/*
## WezTerm
!.config/wezterm/
!.config/wezterm/*
## Kitty
!.config/kitty/
!.config/kitty/*
## Ulauncher
!.config/ulauncher/
!.config/ulauncher/*
## LunarVim
!.config/lvim
!.config/lvim/config.lua
## logiops/logid
!.config/logid
!.config/logid/*
## Flameshot
!.config/flameshot
!.config/flameshot/*
## GNOME Settings
!.config/gnome-extensions-sync

# ssh config (no keys)
!.ssh/
!.ssh/config

# Kubernetes client config
!.kube/
!.kube/*
